@media (max-width: 1147px) {
    .main {
        background-image: url(https://www-growth.scdn.co/static/home/bursts-tablet.svg);
        background-position: 76% 57%;
        background-size: 140%;
    }

    .title-content {
        font-size: 5em;
        padding: 10px;
        line-height: 103px;
        max-width: 471px;
    }

    .paragraph {
        margin-bottom: 0;
        max-width: 381px;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 26px;
    }
}

@media (max-width: 1018px) {
    .main {
       height: 100%;
    }
}

@media (max-width: 820px) {
    .main {
       background: url(https://www-growth.scdn.co/static/home/bursts-tablet.svg);
       background-position: 52% 53%;
       background-size: 143%;
       background-color: var(---background-blue);
    } 

    .conteiner {
       color: var(---color-green); 
    }
    
    .title-content {
        color: var(---color-green);
        letter-spacing: 1px;
        max-width: 531px;
    }
} 

@media (max-width: 787px) {
    .navbar {
        justify-content: space-between;
        padding: 0 20px;
        height: 55px;
    }
   
}

@media (max-width: 733px) {
    .content {
        width: 100%;
    }

}

@media (max-width: 683px) {
    .main {
        background: url(https://www-growth.scdn.co/static/home/bursts-mobile.svg);
        background-position: 45% 43%;
        background-size: 130%;
        background-color: var(---background-blue);
    }

    .title-content {
        font-size: 4em;
        padding: 29px 3px 3px;
        line-height: 71px;
        width: 417px; 
    }
} 

@media (max-width: 490px) {
    .main {
        background: url(https://www-growth.scdn.co/static/home/bursts-mobile.svg);
        background-position: 45% 43%;
        background-size: 192%;
        background-color: var(---background-blue);
    }
        
    .title-content {
        font-size: 40px;
        padding: 40px 3px 3px;
        line-height: 56px;
        letter-spacing: -2px;
        max-width: 250px;
    }

    .paragraph {
      width: 254px;
    }
} 

@media (max-width: 322px) {
    .main {
        background: url(https://www-growth.scdn.co/static/home/bursts-mobile.svg);
        background-position: 45% 43%;
        background-size: 209%;
        background-color: var(---background-blue);
    }
}

@media (max-width: 298px) {
    .main {
        background: url(https://www-growth.scdn.co/static/home/bursts-mobile.svg);
        background-position: 45% 43%;
        background-size: 264%;
        background-color: var(---background-blue);
    }
}  

@media (max-width:982px) {
    .header {
        height: 55px;
    }

    .mobile-menu {
        display: inline-block;
        cursor: pointer; 
    }

    .icon-bar1, 
    .icon-bar2, 
    .icon-bar3 {
        width: 22px;
        height: 3px;
        margin: 4px 0;
        transition: 0.4s;
        background-color: white;
    }
    
    .change .icon-bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-4px, 6px);
    }

    .change .icon-bar2 {
        opacity: 0;
    }

    .change .icon-bar3 {
        -webkit-transform: rotate(45deg) translate(8px, 8px);
        transform: rotate(45deg) translate(-4px, -6px);
    }

    ul.nav-intems {
        display: none
    }

    .logo-header,
    .mobile-menu {
        margin-top: 10px;
    }
     
    .logo-header {
        max-width: 95px;
    }
}