@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    ---color-black: #000000;
    ---color-green: #1ed760;
    ---color-white: #fff;
    ---color-link-second: #d9dadc;
    ---background-blue:  #2941ab;
    ---color-hover: #2DE26D;
    ---color-background-icon: #222326;
    ---coor-paragraph-footer: #919496;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.header {
    font-weight: 400;
    height: 80px;
    background-color: var(---color-black);
    width: 100%;
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0px 100px; 
    overflow-x: hidden;
    line-height: 80px;
}

.logo {
    padding: 1px;
    max-width: 120px;
    max-height: 40px;
    background-color: var(---color-black);
    padding: 1px;
    margin: 2px;
}

.menu-hamburguer {
    display: none;
}

ul.nav-intems {
    display: flex;
    gap: 36px;
    animation: navegacao 1s ease;
}

@keyframes navegacao {
    from {
        left: 50%;
        transform: translate(60%);
        opacity: 20%;
    }

    to {
        position: static; 
        left: 0%; 
    }
}

.nav-intems a:hover {
    color: var(---color-green);
    transition: all 0.5s;
}

.nav-link {
    color: var(---color-white);
    font-weight: 700;
}

.nav-barra{
    width: 1px;
    height: 16px;
    display: inline-block;
    transform: rotate(360deg);
    background-color: var(---color-white);
}

.link-second {
    color: var(---color-link-second); 
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(---background-blue);
    height: 65vw;
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-repeat: no-repeat;
    background-position: 46% 6%;
    background-size: 180%;
    transition: all 0.4s;
}

.conteiner {
    display: flex;
    align-items: center;
    color: var(---color-green); 
} 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px; 
}

.title-content {
    font-size: 156px;
    font-weight: bolder;
    text-align: center;
    color: var(---color-green);
    line-height: 166px;
    letter-spacing: -6px;
    padding-bottom: 50px;
    transition: all 0.5s;
}

.paragraph {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.download {
    background-color: var(---color-green);
    border-radius: 500px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: none;
    padding: 10px 20px;
    margin: 5px;
    color: var(---background-blue, ---color-black);
}

.download:hover {
    transform: scale(1.1);
    transition: border var(---color-white) all 100ms  linear;
    background-color: var(---color-hover);
} 

.download:focus {
    border:solid 3px #fff; 
}

.footer {
    background-color: var(---color-black);
    padding: 80px 0 0;
    transition: all 0.5s;
}

.conteiner-footer {
    display: flex;
    width: 82%;
    margin: 0 auto;
}

.logo-footer {
    padding-right: 60px;
}

.content-footer {
    display: flex;
    gap: 60px;
    min-width: fit-content;
    padding: 13px 0;
    transition: all 0.5s;
}

.paragraph-footer {
    color: var(---coor-paragraph-footer);
    font-weight: bold;
}

.content-footer ul li {   
    margin-bottom: 15px;
    line-height: 27px;
}

.content-footer ul li a {
    color: var(---color-white);
}

.content-footer ul li a:hover {
    color: var(---color-green);
    transition: all 0.5s;
}

.social {
    width: 205px;
    height: 149px;
    margin-left: 24%;
    padding: 10px 10px 0;
    transition: all 0.5s;
}

.social ul {
    display: flex;
    gap: 20px;
} 

.social ul li {
    background-color:var(---color-background-icon);
    border-radius: 50%; 
    height: 55px;
    width: 55px; 
    transition: all 0.5s;
} 

.social ul li a {
    display: contents;
}

.social-icon {
    background-color: var(---color-white);
    width: 27px;
    margin: 14px;
}

.social-icon:hover {
    background-color: var(---color-hover);
    transition: all 0.5s;
}



/*termos */

.conteiner-terms {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px 10px;
  margin: 0 auto;
  width: 75%;
  font-size: 0.75rem;
  align-items: flex-end;
}

.terms-info {
    color: var(---coor-paragraph-footer);
    display: flex;
    flex-direction: column;
}

.terms-itens {
    display: flex;
    padding-bottom: 10px;
    justify-content: flex-end;
}

.terms-itens img {
    padding-right: 10px;
    height: 12px;
    width: auto;
    filter: brightness(60%);
}

.terms-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.terms-links li a {
    color: var(---coor-paragraph-footer);
 
}

