* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    ---color-black: #000000;
    ---color-green: #1ed760;
    ---color-white: #fff;
    ---color-link-second: #d9dadc;
}

.header {
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    font-weight: 400;
    height: 80px;
    background-color: var(---color-black);
    line-height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    /* display: flex;
    justify-content: space-between; */
    /* align-items: center; */
    /* padding: 0px 100px;   */
    
}

.logo-header {
    max-width: 120px;
    max-height: 40px;
    background-color: var(---color-black);
}

ul.nav-intems {
    display: flex;
    gap: 39px;
    animation: navegacao 2s infinite;
    transition: 0.1s;
}

@keyframes navegacao {
    from {
        padding-left: 55%;
        transition: 0.1s;
        opacity: 20%;
    }

    to {
        padding-left: 0%;
    }
}

.nav-intems a:hover {
    color: var(---color-green);
    transition: all 0.5s;
}

.nav-link {
    color: var(---color-white);
    font-weight: 700;
}

.nav-barra{
    color: var(---color-white);
    font-size: 17px;
    font-weight: 500;
    margin: auto;
    /* width: 10px; */
}

.link-second {
    color: var(---color-link-second); 
}
